/* Defoult settings for all items */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: darkgrey;
}

img {
    max-width: 100%;
    /* height: auto; */
}


/* container */

.container {
    max-width: 1000px;
    /* margin auto -autodopadowanie do środka- dośrodkowanie */
    margin: 20px auto;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 0 0 35px darkgrey;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


/* Brand */

.brand a,
.brand img {
    display: block;
}


/* Menu */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    display: block;
}

nav a:hover {
    background: black;
    color: white;
}

.slider img {
    display: block;
}


/* Main */

main {
    display: flex;
    justify-content: space-between;
}


/* article */

article {
    width: 70%;
    padding: 30px;
}


/* Aside */

aside {
    font-family: 'Modak', cursive;
    width: 30%;
    padding: 20px;
    background-color: lightgrey;
    border-left: 1px solid darkgrey;
}

.widget {
    margin-bottom: 40px;
}

.widget ul {
    list-style-type: square;
    padding: 0 0 0 18px;
    margin: 0;
}

.widget li {
    margin-bottom: 15px;
}


/* Footer */

footer {
    background: grey;
    border-top: 1px dashed darkgrey;
    text-align: center;
    padding: 22px 18px;
}


/* Jak wyscentrować teskt */

footer p {
    margin: 0px;
}